# Ignore build and output directories
build/
out/
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IntelliJ IDEA specific files
.idea/
*.iws
*.iml
*.ipr

# Eclipse specific files
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

# NetBeans specific files
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

# VS Code specific files
.vscode/

# Mac OS specific files
.DS_Store

# Project specific files
vehicles.csv
CarGenieServer/.gitignore
CarGenieWeb/.gitignore
cargenieweb/

# Log files
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node.js and frontend specific files
node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea/
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore CSV and Python files
*.csv
*.py

# Ignore other temporary files
*.tmp
*.bak
*.swp